<div id="bio" class="bio">
  <div id="image-container" class="image-container">
    <img class="me" src="/assets/img/me.jpg" alt="Vincent Maston" />
    <div class="name">
      Vincent Maston
      <div class="undername">Web Developer</div>
    </div>
  </div>

  <div id="status" class="status">
    <div class="skills-grid">
      <div class="skills-container">
        <img
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg"
          class="skills-picture"
        />
        <span>Angular</span>
      </div>

      <div class="skills-container">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" class="skills-picture" />
        <span>HTML5</span>
      </div>

      <div class="skills-container">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" class="skills-picture" />
        <span>CSS3</span>
      </div>

      <div class="skills-container">
        <img
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"
          class="skills-picture"
        />
        <span>Javascript</span>
      </div>

      <div class="skills-container">
        <img
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg"
          class="skills-picture"
        />
        <span>NodeJS</span>
      </div>

      <div class="skills-container">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nestjs/nestjs-plain.svg" class="skills-picture" />
        <span>NestJS</span>
      </div>

      <div class="skills-container">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg" class="skills-picture" />
        <span>MySQL</span>
      </div>

      <div class="skills-container">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" class="skills-picture" />
        <span>Git</span>
      </div>
    </div>
  </div>
</div>
