<div id="bio" class="bio">
  <div id="image-container" class="image-container">
    <div class="name">
      Vincent Maston
      <div class="undername">Web Developer</div>
    </div>
    <img class="me" src="/assets/img/me.jpg" alt="Vincent Maston" />
  </div>

  <div id="status" class="status">TBC</div>

  <div class="contact">
    <div class="contact-me">Contact Me</div>
    <div class="contact-methods">
      <a href="https://www.linkedin.com/in/vincentmaston/">
        <img
          class="method"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-plain.svg"
          style="filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(137deg) brightness(103%) contrast(101%)"
          alt="LinkedIn"
      /></a>
      <a href="https://github.com/VMaston">
        <img
          class="method"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"
          style="filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(137deg) brightness(103%) contrast(101%)"
          alt="Github"
      /></a>
    </div>
  </div>
</div>
