<div id="bio" class="bio">
  <div id="image-container" class="image-container">
    <img class="me" src="/assets/img/me.jpg" alt="Vincent Maston" />
    <br />
    <strong style="font-size: xx-large">Vincent Maston</strong>
    <div style="font-size: x-large">Web Developer</div>
  </div>

  <div id="status" class="status">
    I am a Back-End Web Developer based in the United Kingdom.
    <p>
      Following my 2021 graduation from Aberystwyth University with a Computer Science degree, I have pursued a career
      as a Software Engineer specialising in Web Technologies.
    </p>
    <p>
      I am currently working as a full-stack Web Developer while developing my expertise in System Administration and
      Node.js Application Development, with a focus on scalable user platforms.
    </p>
  </div>

  <div class="contact">
    <div class="contact-me">Contact Me</div>
    <div class="contact-methods">
      <a href="https://www.linkedin.com/in/vincentmaston/">
        <img
          class="method"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-plain.svg"
          style="filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(137deg) brightness(103%) contrast(101%)"
          alt="LinkedIn"
      /></a>
      <a href="https://github.com/VMaston">
        <img
          class="method"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"
          style="filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(137deg) brightness(103%) contrast(101%)"
          alt="Github"
      /></a>
    </div>
  </div>
</div>
