<!-- <script src="/assets/js/javascript_color.js"></script> -->
<script src="/assets/js/javascript_mobileheader.js"></script>

<div class="header">
  <div class="mobile-dropdown" onclick="dropdown()">↓</div>
  <div class="line"></div>
  {% for item in site.navigation %} {% assign class = 'menu' %} {% if page.path contains item.title or (item.url == '/'
  and page.path == 'index.md')%} {% assign class ='active menu' %} {% endif %}

  <a href="{{ item.url }}" id="menu" class="{{ class }}"> {{ item.title }} </a>

  {% endfor %}
  <div class="line"></div>
  <!-- <button class="color-select" onclick="colorPick('Red')"></button> -->
</div>
