/* === GLOBAL SETTINGS === */

:root {
  --background: rgb(40, 40, 40);
  --accent: yellowgreen;
  --text: white;
  --accent-text: black;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;

  background-color: rgb(40, 40, 40, 40%);

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text);
}

/* === ELEMENT SETTINGS === */

a {
  color: var(--text);
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0.6em;
}

p {
  margin-top: 1.2em;
}

button {
  padding: 0;
  border: none;
  background: none;
}

/* === WRAPPER SETTINGS === */

.wrapper::before {
  display: block;
  height: 100%;

  content: '';
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  background-image: url('/assets/img/background.jpg');
  filter: grayscale(50%);
}

.wrapper {
  display: grid;
  height: 100%;

  grid-template-columns: 1fr;
  grid-template-rows: minmax(auto, 8%) 1fr; /* .02% is to maintain former height  */

  grid-template-areas:
    'header'
    'main';
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .wrapper {
    display: grid;
    height: 100%;

    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr; /* .02% is to maintain former height  */

    grid-template-areas:
      'header'
      'main';

    background-color: rgb(40, 40, 40, 40%); /* Grey Overlay over Background Image */
  }
}

/* === HEADER SETTINGS === */

.color-select {
  position: absolute;
  top: 0px;
  left: 0px;

  height: 1.5em;
  width: 1.5em;
  background: linear-gradient(to top left, rgba(0, 0, 0, 0) 50%, var(--accent) 50%) no-repeat;
  overflow: hidden;
}

.color-select:hover {
  height: 2em;
  width: 2.5em;
}

.header {
  grid-area: header; /* Parent: Wrapper */

  display: grid;
  grid-template-columns: 35fr repeat(3, 10fr) 35fr 1fr;
  gap: 20px;

  text-align: center;
  align-items: center;

  border-bottom: 2px solid var(--accent);
  background-color: var(--background);
}

.mobile-dropdown {
  display: none;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  .header {
    grid-area: header; /* Parent: Wrapper */

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 5px;

    text-align: center;
    align-items: center;

    border-bottom: 2px solid var(--accent);
    background-color: var(--background);
  }

  .line {
    display: none;
  }

  .mobile-dropdown {
    display: block;
    background-color: rgba(80, 80, 80, 0.95);
    width: 100%;
  }

  .menu {
    display: none;
  }
}

.logo {
  font-size: calc(1.91em + 1vmin);
  font-family: 'Courier New', Courier, monospace;
  color: var(--accent);
}

.menu {
  font-size: calc(0.91em + 1vmin);
}

.menu:hover {
  border-radius: 10px;
  background-color: var(--accent);
}

.active {
  color: var(--accent);
}

.active:hover {
  color: var(--accent-text);
}

.show {
  display: block;
}

/* === CONTENT SETTINGS === */

.main {
  grid-area: main; /* Parent: Wrapper */
  height: 100%;

  display: grid;
  grid-template-columns: auto 74.5%;
  grid-template-rows: 100%;

  grid-template-areas: 'bio description';
}

@media only screen and (max-width: 1200px) {
  /* For mobile phones: */
  .main {
    grid-area: main; /* Parent: Wrapper */
    height: 100%;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100%;
    column-gap: 0;
    row-gap: 5px;

    grid-template-areas: 'description';
  }
}

/* === MAIN CONTENT WINDOW === */

.description {
  grid-area: description; /* Parent: Main */

  background-color: rgba(30, 30, 30, 0.95);
}

/* === SIDEBAR === */

/* === BIO === */

.bio {
  grid-area: bio; /* Parent: Main */
  height: 100%;

  display: flex;
  flex-direction: column;

  font-size: 16px;
  text-align: center;

  border-right: 2px solid rgba(245, 245, 245, 0.103);
  background-color: rgba(40, 40, 40, 0.95);
}

@media only screen and (max-width: 1200px) {
  /* For mobile phones: */
  .bio {
    display: none;
  }
}

/* === IMAGE CONTAINER === */

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.name {
  font-size: x-large;
  padding: 10%;
  color: var(--accent);
  font-weight: lighter;
}

.undername {
  font-size: 16px;
  text-align: right;
  color: var(--text);
}

.me {
  width: 30%;

  border-radius: 50%; /* Circle */
  border: solid rgba(245, 245, 245, 0.103);
}

/* === ABOUT ME === */

.status {
  flex-grow: 1;
  padding: 1em;
  background-color: rgba(26, 26, 26, 0.2);
}
