h1 {
  border-bottom: 2px solid var(--accent);
}

h3 {
  border-left: 4px solid var(--accent);
  padding-left: 0.5em;
  font-size: xx-large;
}

.myposts {
  display: none;
}

.postwindow {
  flex-grow: 1;
  margin: auto;
  max-width: 900px;
  padding: 40px;
  color: aliceblue;
  width: auto;
  background-color: #00000042;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  padding-top: 1em;
  row-gap: 2em;
}

.skills-container {
  display: flex;
  padding: 7%;
  flex-direction: column;
  text-align: center;
  width: fit-content;
}

.skills-container:hover {
  transform: scale(1.1);
}

.skills-picture {
  width: 50px;
  margin: auto;
  padding-bottom: 15%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  .skills-picture {
    padding: 0;
  }

  .skills-grid {
    padding: 0;
    row-gap: 0.5em;
  }
}
