.description h1 {
  border-bottom: 2px solid var(--accent);
}

.description h3 {
  border-left: 4px solid var(--accent);
  padding-left: 0.5em;
  font-size: xx-large;
}

.myposts {
  display: none;
}

@media only screen and (max-width: 1200px) {
  /* For mobile phones: */
  .image-container {
    direction: rtl;
    justify-content: right;
    padding: 0;
    padding-bottom: 1em;
  }

  .me {
    width: 7em;
  }

  .imgdisplay {
    display: flex;
  }
}

.postwindow {
  flex-grow: 1;
  margin: auto;
  max-width: 900px;
  padding: 40px;
  color: aliceblue;
  width: auto;
  background-color: #00000042;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* === IMAGE CONTAINER === */

.image-container {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 0;
}

.name {
  font-size: x-large;
  padding-left: 5%;
  padding-right: 5%;
  color: var(--accent);
  font-weight: lighter;
}

.undername {
  font-size: 16px;
  text-align: right;
  color: var(--text);
}

.me {
  width: 7em;
  content: url('/assets/img/me.jpg');
  user-select: text;
  border-radius: 50%; /* Circle */
  border: solid rgba(245, 245, 245, 0.103);
}

.me:active,
.me:hover {
  box-shadow: 0 0 0.75em var(--accent);
  cursor: pointer;
}

/* === ABOUT ME === */

.status {
  flex-grow: 1;
  padding: 1em;
  background-color: rgba(26, 26, 26, 0.2);
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  padding-top: 1em;
  row-gap: 2em;
}

.skills-container {
  display: flex;
  padding: 7%;
  /* background: linear-gradient(to top, rgba(47, 47, 47, 0.4) 5%, rgba(47, 47, 47, 0.1) 95%, rgba(47, 47, 47, 0) 95%); */
  flex-direction: column;
  text-align: center;
  width: fit-content;
  /* border-bottom: 3px solid var(--accent); */
}

.skills-container:hover {
  transform: scale(1.1);
}

.skills-picture {
  width: 50px;
  margin: auto;
  padding-bottom: 15%;
}

@media only screen and (max-width: 1200px) {
  /* For mobile phones: */
  .skills-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .skills-picture {
    padding: 0;
  }

  .skills-grid {
    padding: 0;
    row-gap: 0.5em;
  }

  .griddisplay {
    display: grid;
  }
}
