.myposts {
  display: none;
}

/* .description img {
  padding: 1em;
} */

.description h1 {
  border-bottom: 2px solid var(--accent);
}

.description h3 {
  border-left: 4px solid var(--accent);
  padding-left: 0.5em;
  font-size: xx-large;
}

.description {
  padding-left: 0.4%;
}

.myposts {
  display: none;
}

.imgdisplay {
  display: none;
}

.griddisplay {
  display: none;
}

@media only screen and (max-width: 1200px) {
  /* For mobile phones: */
  .image-container {
    direction: rtl;
    justify-content: right;
    padding: 0;
    padding-bottom: 1em;
  }

  .me {
    width: 7em;
  }

  .imgdisplay {
    display: flex;
  }
}

.postwindow {
  max-width: 900px;
  padding: 20px;
  color: aliceblue;
  width: auto;
  margin: 1%;
  margin-left: 1.5%;
  margin-bottom: 0px;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

@media only screen and (max-width: 1200px) {
  /* For mobile phones: */
  .skills-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .skills-picture {
    padding: 0;
  }

  .skills-grid {
    padding: 0;
    row-gap: 0.5em;
  }

  .griddisplay {
    display: grid;
  }
}
