/* === SIDEBAR === */

/* === BIO === */

.bio {
  grid-area: bio; /* Parent: Main */
  height: 100%;

  display: flex;
  flex-direction: column;

  font-size: 16px;
  text-align: center;

  border-right: 2px solid rgba(245, 245, 245, 0.103);
  background-color: rgba(40, 40, 40, 0.95);
}

@media only screen and (max-width: 1200px) {
  /* For mobile phones: */
  .bio {
    display: none;
  }
}

/* === IMAGE CONTAINER === */

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.name {
  font-size: x-large;
  padding-left: 10%;
  padding-right: 10%;
  color: var(--accent);
  font-weight: lighter;
}

.undername {
  font-size: 16px;
  text-align: right;
  color: var(--text);
}

.me {
  width: 30%;
  content: url('/assets/img/me.jpg');
  user-select: text;
  border-radius: 50%; /* Circle */
  border: solid rgba(245, 245, 245, 0.103);
}

.me:active,
.me:hover {
  box-shadow: 0 0 0.75em var(--accent);
  cursor: pointer;
}

/* === ABOUT ME === */

.status {
  flex-grow: 1;
  padding: 1em;
  background-color: rgba(26, 26, 26, 0.2);
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  padding-top: 1em;
  row-gap: 2em;
}

.skills-container {
  display: flex;
  padding: 7%;
  /* background: linear-gradient(to top, rgba(47, 47, 47, 0.4) 5%, rgba(47, 47, 47, 0.1) 95%, rgba(47, 47, 47, 0) 95%); */
  flex-direction: column;
  text-align: center;
  width: fit-content;
  /* border-bottom: 3px solid var(--accent); */
}

.skills-container:hover {
  transform: scale(1.1);
}

.skills-picture {
  width: 50px;
  margin: auto;
  padding-bottom: 15%;
}
