/* === GLOBAL SETTINGS === */

:root {
  --background: rgb(32, 32, 32);
  --accent: yellowgreen;
  --text: white;
  --accent-text: black;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;

  background-color: rgb(40, 40, 40, 40%);

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text);
}

/* === ELEMENT SETTINGS === */

a {
  color: var(--text);
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0.6em;
}

p {
  margin-top: 1.2em;
}

button {
  padding: 0;
  border: none;
  background: none;
}

/* === WRAPPER SETTINGS === */

.wrapper::before {
  display: block;
  height: 100%;

  content: '';
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  background-image: url('/assets/img/background.jpg');
  filter: grayscale(50%);
}

.wrapper {
  display: grid;
  height: 100%;

  grid-template-columns: 25% auto;

  grid-template-areas: 'bio main';
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .wrapper {
    display: grid;
    height: 100%;

    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr; /* .02% is to maintain former height  */

    grid-template-areas:
      'header'
      'main';

    background-color: rgb(40, 40, 40, 40%); /* Grey Overlay over Background Image */
  }
}

/* === HEADER SETTINGS === */

.header {
  grid-area: header; /* Parent: Wrapper */

  display: grid;
  grid-template-columns: 35fr repeat(3, 10fr) 35fr 1fr;
  gap: 20px;

  text-align: center;
  align-items: center;

  border-bottom: 2px solid var(--accent);
  background-color: var(--background);
}

.mobile-dropdown {
  display: none;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  .header {
    grid-area: header; /* Parent: Wrapper */

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 5px;

    text-align: center;
    align-items: center;

    border-bottom: 2px solid var(--accent);
    background-color: var(--background);
  }

  .line {
    display: none;
  }

  .mobile-dropdown {
    display: block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: rgba(26, 26, 26, 0.8);
    width: 100%;
  }

  .menu {
    display: none;
  }
}

.logo {
  font-size: calc(1.91em + 1vmin);
  font-family: 'Courier New', Courier, monospace;
  color: var(--accent);
}

.menu {
  font-size: calc(0.91em + 1vmin);
}

.menu:hover {
  border-radius: 5px;
  color: var(--accent-text);
  background-color: var(--accent);
}

.active {
  color: var(--accent);
}

.show {
  display: block;
}

/* === CONTENT SETTINGS === */

.main {
  grid-area: main; /* Parent: Wrapper */
  height: 100%;

  display: grid;
  grid-template-rows: minmax(auto, 8%) 1fr;

  grid-template-areas:
    'header'
    'description';
}

@media only screen and (max-width: 1200px) {
  /* For mobile phones: */
  .main {
    grid-area: main; /* Parent: Wrapper */
    height: 100%;

    display: grid;
    grid-template-rows: auto 1fr;
    column-gap: 0;
    row-gap: 0px;

    grid-template-areas:
      'header'
      'description';
  }
}

/* === MAIN CONTENT WINDOW === */

.description {
  grid-area: description; /* Parent: Main */

  background-color: rgba(30, 30, 30, 0.95);
}
