/* === HEADER SETTINGS === */

.header {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;

  text-align: center;
  align-items: center;
  justify-content: space-around;
}

.menu {
  font-size: 20px;
}

.menu:hover {
  border-radius: 5px;
  color: var(--accent-text);
  background-color: var(--accent);
}

.active {
  color: var(--accent);
}

/* === IMAGE CONTAINER === */

.image-container {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
  padding: 0;
}

.name {
  font-size: x-large;
  padding-left: 1.5em;
  padding-right: 5%;
  color: var(--accent);
  font-weight: lighter;
}

.undername {
  font-size: 16px;
  text-align: right;
  color: var(--text);
}

.me {
  width: 12%;
  content: url('/assets/img/me.jpg');
  user-select: text;
  border-radius: 50%; /* Circle */
  border: solid rgba(245, 245, 245, 0.103);
}

.me:active,
.me:hover {
  box-shadow: 0 0 0.75em var(--accent);
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .image-container {
    display: none;
  }
}
