/* === GLOBAL SETTINGS === */

:root {
  --background: rgb(40, 40, 40);
  --accent: yellowgreen;
  --text: white;
  --accent-text: black;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text);
}

/* === ELEMENT SETTINGS === */

a {
  color: var(--text);
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0.6em;
}

p {
  margin-top: 1.2em;
}

/* === WRAPPER SETTINGS === */

.wrapper::before {
  display: block;
  height: 100%;

  content: '';
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  background-image: url('/assets/img/background.jpg');
  filter: grayscale(50%);
}

.wrapper {
  display: grid;
  height: 100%;

  grid-template-columns: 1fr;
  grid-template-rows: minmax(auto, 10.2%) 1fr; /* .02% is to maintain former height  */

  grid-template-areas:
    'header'
    'main';

  background-color: rgb(40, 40, 40, 40%); /* Grey Overlay over Background Image */
}

/* === HEADER SETTINGS === */

.header {
  grid-area: header; /* Parent: Wrapper */

  display: grid;
  grid-template-columns: 5fr auto 55fr repeat(4, 10fr) 1fr;
  gap: 20px;

  text-align: center;
  align-items: center;

  border-bottom: 2px solid var(--accent);
  background-color: var(--background);
}

.logo {
  font-size: calc(1.91em + 1vmin);
  font-family: 'Courier New', Courier, monospace;
  color: var(--accent);
}

.menu {
  font-size: calc(0.91em + 1vmin);
}

.menu:hover {
  border-radius: 10px;
  background-color: var(--accent);
}

.active {
  color: var(--accent);
}

.active:hover {
  color: var(--accent-text);
}

/* === CONTENT SETTINGS === */

.main {
  grid-area: main; /* Parent: Wrapper */
  height: 100%;

  display: grid;
  grid-template-columns: 74.5% 0 auto;
  grid-template-rows: 100%;
  gap: 5px;

  grid-template-areas: 'description button bio';
}

/* === MAIN CONTENT WINDOW === */

.description {
  grid-area: description; /* Parent: Main */
  grid-column: 1 / 2; /* Overflow into button area so content is centrally aligned when sidebar is pushed-in. */

  background-color: rgba(40, 40, 40, 0.95);
}

/* === SIDEBAR === */

.button {
  grid-area: button; /* Parent: Main */

  padding-left: 10px;
  font-size: 1.55em;
  text-align: left;

  color: var(--accent);
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.button:hover {
  cursor: pointer;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
}

/* === BIO === */

.bio {
  grid-area: bio; /* Parent: Main */
  height: 100%;

  display: flex;
  flex-direction: column;

  font-size: 0.85vmax;
  text-align: center;

  border-left: 2px solid rgba(245, 245, 245, 0.103);
  margin-left: -2px; /* Hacky tweak to minimize gap between description & bio without ruining current sizes */
  background-color: rgba(40, 40, 40, 0.95);
}

/* === IMAGE CONTAINER === */

.image-container {
  padding-top: 1em;
}

.me {
  width: 40%;

  border-radius: 50%; /* Circle */
  margin: auto; /* Centre */

  border: solid rgba(245, 245, 245, 0.103);
}

/* === ABOUT ME === */

.status {
  flex-grow: 1;
  padding: 1em;
  text-align: left;
}

/* === CONTACT === */

.contact-me {
  margin-left: 1em;
  margin-right: 1em;

  border-radius: 25px;

  color: var(--accent-text);
  background-color: var(--accent);
  filter: brightness(120%);
}

.contact-methods {
  display: grid;

  grid-template-columns: repeat(3, auto);

  padding-top: 1em;
  padding-left: 1em;
}

.method {
  height: 70%;

  text-align: left;
  border-radius: 1px;
}
