.main {
  display: flex;
  padding-left: 35%;
  padding-right: 35%;
  width: auto;
}

.button {
  opacity: 0;
  pointer-events: none;
}

.bio {
  border-right: 2px solid rgba(245, 245, 245, 0.1);
}

@media only screen and (max-width: 768px) {
  .main {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    width: auto;
  }

  .bio {
    display: flex;
  }
}
