<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css" />
    <script src="/assets/js/javascript_cookies.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?" />
  </head>

  <body>
    <div class="wrapper">
      {% include header.html %}

      <div id="main" class="main">
        <div id="description" class="description"><div class="postwindow">{{ content }}</div></div>

        {% include bio.html %}
      </div>
    </div>
  </body>
</html>
