<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css" />
    <script src="/assets/js/javascript.js"></script>
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
  </head>

  <body>
    <div class="wrapper">
      <div class="header">
        <div class="line"></div>
        <div class="logo">Vincent Maston</div>
        <div class="line"></div>
        {{page.url}} {% for item in site.navigation %} {% assign class = 'menu' %} {% if item.url == page.url%} {%
        assign class = 'active menu' %} {% endif %}
        <a href="{{ item.url }}" class="{{ class }}"> {{ item.title }} </a>

        {% endfor %}
      </div>

      <div id="main" class="main">
        <div id="description" class="description">{{ content }}</div>

        <div style="opacity: 0; pointer-events: none" id="button" class="button"></div>

        <div id="bio" class="bio">
          <span class="button" onclick="closeNav()"> > </span>

          <div id="image-container" class="image-container">
            <img class="me" src="/assets/img/me.jpg" alt="Vincent Maston" />
            <br />
            <strong style="font-size: xx-large">Vincent Maston</strong>
            <div style="font-size: x-large">Web Developer</div>
          </div>

          <div id="status" class="status">
            "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
            dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor
            sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore
            magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
            suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in
            ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas
            nulla pariatur?"
          </div>

          <div class="contact">
            <div class="contact-me">Contact Me</div>
            <div class="contact-methods">
              <div class="method">
                📧 [business email placeholder] <br />
                📱 [business number placeholder]
              </div>
              <img
                class="method"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-plain.svg"
                style="filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(137deg) brightness(103%) contrast(101%)"
                alt="LinkedIn"
              />
              <img
                class="method"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"
                style="filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(137deg) brightness(103%) contrast(101%)"
                alt="Github"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
